body {
  background: #000;
}

#myBot {
  height: 400px;
  width: 400px;
  background-color: rgb(49, 46, 46);
  border: 1px solid #fff;
  border-radius: 30px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 25px;
  position: relative;
}

.title {
  width: 450px;
  margin: 0 auto;
}
h1 {
  font-size: 32px;

  color: rgb(116, 116, 116);
  text-align: left;
  padding: 10px;
  font-family: "Oswald", sans-serif;
}

#answer {
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: 16px;

  overflow-x: hidden;
  margin-bottom: 10px;
}
#question-box {
  display: flex;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: #ffffff;
}

#question {
  width: 70%;

  border: none;
  border-radius: 20px;
  padding: 10px 10px 10px 30px;
}
.emptyvalue {
  border: 2px solid rgb(209, 47, 47);
}

#myButton {
  cursor: pointer;

  width: 30px;
  height: 30px;

  background: url("icon/Path.png") no-repeat;
  background-position: center;
  background-size: 25px 25px;

  border: none;
  border-radius: 6px;
  margin: auto;
  padding: 10px;
}
input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}
button:active,
button:focus {
  outline: none;
}

#human2 {
  background: url("../ChatBot_Beeline/icon1.jpg") no-repeat left top;
}
#human {
  align-self: flex-end;
  float: right;
  word-wrap: break-word;
  width: 40%;
  color: #000;
  border: none;
  border-radius: 15px;
  background-color: #f9c35b;
  padding: 5px;
  margin: 7px;
}
#bot {
  /* align-self: flex-start; */
  float: left;
  word-wrap: break-word;
  width: 50%;
  color: #000;
  border: none;
  border-radius: 15px;

  padding: 5px;
  margin: 7px;
}

p {
  padding-right: 5px;
}

::-webkit-scrollbar {
  width: 8px;
  height: auto;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 8px 8px 1px #fafafa;
}
::-webkit-scrollbar-thumb {
  background: rgb(231, 186, 88);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb:active {
  background: rgb(255, 255, 255);
}

.hide {
  display: none;
}
.show {
  display: block;
}
